if ARCH_S5PV210

choice
	prompt "S5PV210 board select"
	optional

#config TARGET_S5P_GONI
#	bool "S5P Goni board"
#	select OF_CONTROL

config TARGET_TQ210
	bool "Support tq210 board"
	select OF_CONTROL
    select SUPPORT_SPL

endchoice

config SYS_SOC
	default "s5pv210"

#source "board/samsung/goni/Kconfig"
source "board/samsung/tq210/Kconfig"

endif
